@import url('https://fonts.googleapis.com/css2?family=Exo:wght@500&family=Signika:wght@400;500&display=swap');

body {
  height: 100%;
  width: 100%;
  margin: 0;
  flex-wrap: wrap;
  background-color: lightgrey;
  justify-content: center;
  align-items: stretch;
  color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  font-family: 'Signika', sans-serif;
}

@keyframes loading {
  0% {
    transform: scale(100%, 100%);
  }
  33% {
    transform: scale(110%, 110%);
  }
  67% {
    transform: scale(90%, 90%);
  }
  100% {
    transform: scale(100%, 100%);
  }
}

#loadingScreen {
  top: 0;
  left: 0;
  margin: 0;
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: lightgrey;
  z-index: 3;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#loadingScreen.hidden {
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
  transform: translate(0, -100%);
}

#loadingLogo {
  text-align: center;
  flex-basis: 100%;
  font-size: 20vmin;
  margin-top: 20vh;
  animation: 5s ease-in-out 0s infinite normal none running loading;
}

#loadingDescription {
  font-size: 5vmin;
  font-weight: 400;
}

#setUpBox {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 90%;
  height: 60%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 10vmin;
  transform: translate(-50%, -50%);
  background-color: lightgray;
  filter: drop-shadow(5vmin 5vmin 10vmin rgba(0, 0, 0, 0.5));
  overflow-y: auto;
  overflow-x: hidden;
}

#setUpBox.shown {
  display: flex;
}

#setUpTitle {
  flex-basis: 100%;
  text-align: center;
}

#setUpWordInput {
  flex-basis: 100%;
  padding: 0.2rem;
  width: 50vw;
  margin: 0 5rem;
  background-color: transparent;
  border: 0.1rem solid gray;
  border-radius: 0.5rem;
  color: rgba(0, 0, 0, 0.5);
  font-family: 'Signika', sans-serif;
  font-size: xx-large;
  text-align: center;
}

#setUpSubmit {
  transition-duration: 300ms;
  padding: 3vmin 6vmin;
  background-color: lightgray;
  border: none;
  border-radius: 0.5vmin;
  box-shadow: 1vmin 1vmin 1.5vmin rgba(0, 0, 0, 0.1),
              -1vmin -1vmin 1.5vmin rgba(255, 255, 255, 0.2),
              inset 0 0 0 rgba(0, 0, 0, 0.1),
              inset -0 -0 0 rgba(255, 255, 255, 0.2);
  color: rgba(0, 0, 0, 0.5);
  font-family: 'Signika', sans-serif;
  font-size: x-large;
}

#setUpSubmit:hover {
  transition-duration: 300ms;
  box-shadow: 0.5vmin 0.5vmin 1.0vmin rgba(0, 0, 0, 0.2),
              -0.5vmin -0.5vmin 1.0vmin rgba(255, 255, 255, 0.4),
              inset 0 0 0 rgba(0, 0, 0, 0.1),
              inset -0 -0 0 rgba(255, 255, 255, 0.2);
}

#setUpSubmit:active {
  transition-duration: 100ms;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.2),
              -0 -0 0 rgba(255, 255, 255, 0.4),
              inset 1vmin 1vmin 1vmin rgba(0, 0, 0, 0.1),
              inset -1vmin -1vmin 1vmin rgba(255, 255, 255, 0.2);
}

#gameOverBox {
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  left: 50%;
  top: 50%;
  height: fit-content;
  padding: 5%;
  transform: translate(-50%, 150vh);
  background-color: lightgray;
  filter: drop-shadow(5vmin 5vmin 5vmin rgba(0, 0, 0, 0.3));
  border-radius: 5vmin;
  justify-content: center;
  flex-direction: column;
}

#gameOverBox.shown {
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
  transform: translate(-50%, -50%);
}

#gameOverAnswer {
  font-style: italic;
}

#share {
  background-color: lightgray;
  border: none;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 0;
  font-family: 'Signika', sans-serif;
  font-size: large;
  border-radius: 2vmin;
  padding: 2vh 2vw;
  box-shadow: 1vmin 1vmin 1.5vmin rgba(0, 0, 0, 0.1),
              -1vmin -1vmin 1.5vmin rgba(255, 255, 255, 0.2),
              inset 0 0 0 rgba(0, 0, 0, 0.1),
              inset -0 -0 0 rgba(255, 255, 255, 0.2);
}

#share:hover {
transition-duration: 100ms;
box-shadow: 0.5vmin 0.5vmin 1.0vmin rgba(0, 0, 0, 0.2),
            -0.5vmin -0.5vmin 1.0vmin rgba(255, 255, 255, 0.4),
            inset 0 0 0 rgba(0, 0, 0, 0.1),
            inset -0 -0 0 rgba(255, 255, 255, 0.2);
}

#share:active {
transition-duration: 100ms;
box-shadow: 0 0 0 rgba(0, 0, 0, 0.2),
            -0 -0 0 rgba(255, 255, 255, 0.4),
            inset 1vmin 1vmin 1vmin rgba(0, 0, 0, 0.1),
            inset -1vmin -1vmin 1vmin rgba(255, 255, 255, 0.2);
}

.gameOverText {
  flex-basis: 100%;
  text-align: center;
}

#errorBox {
  transition-duration: 100ms;
  transition-timing-function: ease-in-out;
  position: fixed;
  padding: 0vh 2vw;
  border-radius: 1vh;
  color: rgba(255, 255, 255, 0.87);
  background-color: gray;
  box-shadow: 0.2vh 0.2vh 0.4vh rgba(0, 0, 0, 0.4),
              -0.2vh -0.2vh 0.4vh rgba(255, 255, 255, 0.6);
  top: 1vh;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -150%);
}

#errorBox.shown {
  transition-duration: 100ms;
  transition-timing-function: ease-in-out;
  transform: translate(-50%, 0);
}

#header {
  display: flex;
  height: 10%;
  flex-wrap: wrap;
  user-select: none;
}

#title {
  flex-basis: 100%;
  text-align: center;
  padding: 0;
  margin: 1vh 0 0 0;
  user-select: none;
  cursor: pointer;
}

#tagline {
  flex-basis: 100%;
  text-align: center;
  font-size: small;
  margin: -1vh 0 0 0;
  cursor: pointer;
}

#resultPanel {
  display: flex;
  height: 60vh;
  flex-wrap: wrap;
  align-self: flex-start;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: auto;
}

.resultRow {
  display: flex;
  flex: 1 0 100%;
  justify-content: center;
}

.resultBox {
  display: flex;
  margin: 1vh;
  padding: 0rem;
  height: 10vmin;
  width: 10vmin;
  border-radius: 1vh;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0.3rem 0.3rem 0.4rem rgba(0, 0, 0, 0.2),
              inset -0.3rem -0.3em 0.4rem rgba(255, 255, 255, 0.2);
}

.resultLabel {
  line-height: 0;
  color: rgba(0, 0, 0, 0.87);
  font-family: 'Exo', sans-serif;
  user-select: none;
  font-size: 4vh;
}

#keyboard {
  display: flex;
  flex: 1 1 0;
  height: 30vh;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
}

.keyboardRow {
  display: flex;
  flex: 1 1 0;
  flex-basis: 100%;
  align-items: stretch;
  justify-content: stretch;
  margin: 0.5vh 0;
}

.keyboardKey {
  transition-duration: 0.1s;
  border: none;
  border-radius: 1vh;
  margin: 0 0.5vh;
  align-items: stretch;
  padding: 0;
  background-color: lightgrey;
  box-shadow: 0.2vh 0.2vh 0.3rem rgba(0, 0, 0, 0.2),
              -0.2vh -0.2vh 0.3rem rgba(255, 255, 255, 0.4),
              inset 0 0 0 rgba(0, 0, 0, 0.1),
              inset 0 0 0 rgba(255, 255, 255, 0.2);
  font-family: 'Signika', sans-serif;
  font-size: 3vh;
  font-weight: 400;
  color: rbga(0, 0, 0, 0.1);
  user-select: none;
  cursor:pointer;
  touch-action: manipulation;
}

.keyboardKey:hover {
  transition-duration: 0.1s;
  box-shadow: 0.3vh 0.2vh 0.4vh rgba(0, 0, 0, 0.2),
              -0.3vh -0.2vh 0.4vh rgba(255, 255, 255, 0.4),
              inset 0 0 0 rgba(0, 0, 0, 0.1),
              inset 0 0 0 rgba(255, 255, 255, 0.2);
}

.keyboardKey:active {
  transition-duration: 0.1s;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.2),
              0 0 0 rgba(255, 255, 255, 0.4),
              inset 0.2vh 0.2vh 0.3vh rgba(0, 0, 0, 0.1),
              inset -0.2vh -0.2vh 0.3vh rgba(255, 255, 255, 0.2);
}

.letterKey {
  flex: 1 1 0;
}

.keyboardMiddleRowSpacer {
  flex: 1 1 0;
}

.largeKey {
  flex: 2 2 0;
}

.correct {
  background-color: green;
}

.misplaced {
  background-color: orange;
}

.wrong {
  background-color: grey;
}