@import url('https://fonts.googleapis.com/css2?family=Exo:wght@500&family=Signika:wght@400;500&display=swap');

body {
  height: 100%;
  width: 100%;
  margin: 0;
  flex-wrap: wrap;
  background-color: lightgrey;
  justify-content: center;
  align-items: stretch;
  color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  font-family: 'Signika', sans-serif;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: none;
  color: rgba(0, 0, 0, 0.5);
  background-color: lightgrey;
  font-family: 'Signika', sans-serif;
  -webkit-tap-highlight-color: transparent;
}

.material-icons {
  margin: -4px;
  padding-left: 1vw;
}

.material-icons-round {
  margin: -4px;
  padding-left: 1vw;
}

/* Rules for sizing material icons. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons-round.md-18 { font-size: 18px; }
.material-icons-round.md-24 { font-size: 24px; }
.material-icons-round.md-36 { font-size: 36px; }
.material-icons-round.md-48 { font-size: 48px; }

@keyframes loading {
  100% {
    transform: scale(110%, 110%);
  }
  0% {
    transform: scale(90%, 90%);
  }
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 1rem;
  right: 1rem;
}

::-webkit-scrollbar-track {
  border-radius: 0.8rem;
  background-color: transparent;
  box-shadow: inset 0.3rem 0.3rem 0.3rem rgba(0, 0, 0, 0.1),
              inset -0.3rem -0.3rem 0.3rem rgba(255, 255, 255, 0.1);
}

::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 0.8rem;
  box-shadow: inset -0.2rem -0.2rem 0.4rem rgba(0, 0, 0, 0.1),
              inset 0.2rem 0.2rem 0.4rem rgba(255, 255, 255, 0.3);
}

p {
  text-align: center;
}

#loadingScreen {
  top: 0;
  left: 0;
  margin: 0;
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: lightgrey;
  z-index: 5;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#loadingScreen.hidden {
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
  transform: translate(0, -100%);
}

#loadingLogo {
  text-align: center;
  flex-basis: 100%;
  font-size: 20vmin;
  margin-top: 20vh;
  font-weight: 500;
  animation: 2s ease-in-out 0s infinite alternate none running loading;
}

#loadingDescription {
  font-size: 5vmin;
  font-weight: 400;
  text-align: center;
  padding: 0 10%;
}

#setUpBox {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 5%;
  max-width: 90%;
  max-height: 60%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 10vmin;
  transform: translate(-50%, -50%);
  background-color: lightgray;
  filter: drop-shadow(5vmin 5vmin 10vmin rgba(0, 0, 0, 0.5));
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 3;
}

#setUpBox.shown {
  display: flex;
}

#setUpTitle {
  color: rgba(0, 0, 0, 0.87);
  flex-basis: 100%;
  text-align: center;
  font-weight: 500;
}

#attemptsSlider {
  margin-top: 1rem;
  -webkit-appearance: none;
  flex-basis: 100%;
  margin: 0 5rem;
  margin-bottom: 2rem;
  height: 1rem;
  border-radius: 0.5rem;
  background: transparent;
  box-shadow: inset 0.3rem 0.3rem 0.3rem rgba(0, 0, 0, 0.1),
              inset -0.3rem -0.3rem 0.3rem rgba(255, 255, 255, 0.2);
}

#attemptsSlider::-webkit-slider-thumb {
  appearance: none;
  width: 2rem;
  height: 2rem;
  border-radius: 1rem;
  background-color: darkgray;
  box-shadow: inset -0.4rem -0.4rem 0.6rem rgba(0, 0, 0, 0.3),
              inset 0.4rem 0.4rem 0.6rem rgba(255, 255, 255, 0.3);
  cursor: pointer;
}

#attemptsIndicator {
  flex-basis: 100%;
  text-align: center;
  font-size: xx-large;
  margin: 0;
}

.dialogInput {
  flex-basis: 100%;
  padding: 0.2rem;
  width: 50vw;
  margin: 0 5rem;
  background-color: transparent;
  border: 0.1rem solid gray;
  border-radius: 0.5rem;
  color: rgba(0, 0, 0, 0.5);
  font-family: 'Signika', sans-serif;
  font-size: xx-large;
  text-align: center;
  margin-bottom: 2rem;
  -webkit-tap-highlight-color: transparent;
}

#gameOverBox {
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  overflow-y: auto;
  left: 50%;
  top: 50%;
  max-width: 90%;
  max-height: 90%;
  height: fit-content;
  padding: 5%;
  transform: translate(-50%, 150vh);
  background-color: lightgray;
  box-shadow: 0 0 15vmax rgba(0, 0, 0, 0.4);
  border-radius: 5vmin;
  justify-content: center;
  z-index: 2;
}

#gameOverBox.shown {
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
  transform: translate(-50%, -50%);
}

#gameOverAnswer {
  flex-basis: 100%;
  font-style: italic;
}

.gameOverParagraph {
  font-size: x-large;
}

.dialogButton {
  transition: box-shadow 150ms;
  display: flex;
  align-items: center;
  background-color: lightgray;
  border: none;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 0;
  font-family: 'Signika', sans-serif;
  font-size: x-large;
  border-radius: 2vmin;
  padding: 3vmin;
  box-shadow: 1vmin 1vmin 1.5vmin rgba(0, 0, 0, 0.1),
              -1vmin -1vmin 1.5vmin rgba(255, 255, 255, 0.2),
              inset 0 0 0 rgba(0, 0, 0, 0.1),
              inset -0 -0 0 rgba(255, 255, 255, 0.2);
}

.dialogButton:hover {
box-shadow: 0.5vmin 0.5vmin 1.0vmin rgba(0, 0, 0, 0.2),
            -0.5vmin -0.5vmin 1.0vmin rgba(255, 255, 255, 0.4),
            inset 0 0 0 rgba(0, 0, 0, 0.1),
            inset -0 -0 0 rgba(255, 255, 255, 0.2);
}

.dialogButton:active {
box-shadow: 0 0 0 rgba(0, 0, 0, 0.2),
            -0 -0 0 rgba(255, 255, 255, 0.4),
            inset 1vmin 1vmin 1vmin rgba(0, 0, 0, 0.1),
            inset -1vmin -1vmin 1vmin rgba(255, 255, 255, 0.2);
}

.gameOverText {
  color: rgba(0, 0, 0, 0.87);
  flex-basis: 100%;
  text-align: center;
  font-weight: 500;
}

#dailyTimerHeader {
  margin: 0;
  font-weight: normal;
}

#dailyTimer {
  margin: 0;
  flex-basis: 100%;
  text-align: center;
  font-size: 4rem;
  font-weight: 500;
}

#errorBox {
  transition-duration: 100ms;
  transition-timing-function: ease-in-out;
  position: fixed;
  padding: 0vh 2vw;
  border-radius: 1vh;
  color: rgba(0, 0, 0, 0.87);
  background-color: lightgray;
  box-shadow: 1vh 1vh 5vh rgba(0, 0, 0, 0.4);
  top: 1vh;
  left: 50%;
  z-index: 4;
  font-size: x-large;
  transform: translate(-50%, -150%);
}

#errorBox.shown {
  transition-duration: 100ms;
  transition-timing-function: ease-in-out;
  transform: translate(-50%, 0);
}

#header {
  display: flex;
  height: 10vh;
  flex-wrap: wrap;
  user-select: none;
  justify-content: center;
  align-items: center;
}

#headerCreate {
  top: 0;
  left: 0;
  padding: 0.3rem !important;
}

.headerButtonIcon {
  font-size: 5vh !important;
  margin: 0;
  padding: 0;
}

#nameHeader {
  cursor: pointer;
  margin: 0 2rem;
}

#title {
  text-align: center;
  padding: 0;
  margin: 1vh 0 0 0;
  user-select: none;
  font-weight: 500;
  font-size: 5vh;
  color: rgba(0, 0, 0, 0.87);
}

#tagline {
  text-align: center;
  font-size: small;
  margin: -1vh 0 0 0;
  font-size: 2vh;
}

#wordInfo {
  display: none;
}

#wordOfTheDayText {
  display: none;
}

#resultPanel {
  display: flex;
  height: 60vh;
  align-items: center;
  width: 100%;
  overflow: auto;
  flex-direction: column;
}

.resultRow {
  display: flex;
  justify-content: center;
}

.resultBox {
  transition: background-color 0.1s ease-out;
  box-sizing: border-box;
  display: flex;
  margin: 0.5vmin;
  padding: 0rem;
  height: 10vmin;
  width: 10vmin;
  border-radius: 1vh;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0.3rem 0.3rem 0.4rem rgba(0, 0, 0, 0.2),
              inset -0.3rem -0.3em 0.4rem rgba(255, 255, 255, 0.2);
}

.resultLabel {
  line-height: 0;
  color: rgba(0, 0, 0, 0.87);
  font-family: 'Exo', sans-serif;
  user-select: none;
  font-size: 3vh;
}

#keyboard {
  display: flex;
  flex: 1 1 0;
  height: 30vh;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
}

.keyboardRow {
  display: flex;
  flex: 1 1 0;
  flex-basis: 100%;
  align-items: stretch;
  justify-content: stretch;
  margin: 0.5vh 0;
}

.keyboardKey {
  transition: background-color 0.1s ease-out, box-shadow 0.1s ease-out;
  transition-duration: 0.1s;
  border: none;
  border-radius: 1vh;
  margin: 0 0.5vh;
  padding: 0;
  box-shadow: 0.2vh 0.2vh 0.3rem rgba(0, 0, 0, 0.2),
              -0.2vh -0.2vh 0.3rem rgba(255, 255, 255, 0.4),
              inset 0 0 0 rgba(0, 0, 0, 0.1),
              inset 0 0 0 rgba(255, 255, 255, 0.2);
  font-family: 'Signika', sans-serif;
  font-size: 3.5vh;
  font-weight: 500;
  user-select: none;
  cursor:pointer;
  touch-action: manipulation;
}

.keyboardKey:hover {
  transition-duration: 0.1s;
  box-shadow: 0.3vh 0.2vh 0.4vh rgba(0, 0, 0, 0.2),
              -0.3vh -0.2vh 0.4vh rgba(255, 255, 255, 0.4),
              inset 0 0 0 rgba(0, 0, 0, 0.1),
              inset 0 0 0 rgba(255, 255, 255, 0.2);
}

.keyboardKey:active {
  transition-duration: 0.1s;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.2),
              0 0 0 rgba(255, 255, 255, 0.4),
              inset 0.2vh 0.2vh 0.3vh rgba(0, 0, 0, 0.1),
              inset -0.2vh -0.2vh 0.3vh rgba(255, 255, 255, 0.2);
}

.letterKey {
  flex: 1 1 0;
}

.keyboardMiddleRowSpacer {
  flex: 1 1 0;
}

.largeKey {
  flex: 2 2 0;
}

.iconButton {
  transition-duration: 100ms;
  border-radius: 100%;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.2),
              0 0 0 rgba(255, 255, 255, 0.2),
              inset 0 0 0 rgba(0, 0, 0, 0.2),
              inset 0 0 0 rgba(255, 255, 255, 0.2);
              aspect-ratio: 1/1;
}

.iconButton:hover {
  border-radius: 100%;
  box-shadow: .3rem .3rem .3rem rgba(0, 0, 0, 0.2),
              -.3rem -.3rem .3rem rgba(255, 255, 255, 0.2),
              inset 0 0 0 rgba(0, 0, 0, 0.2),
              inset 0 0 0 rgba(255, 255, 255, 0.2);
}

.iconButton:active {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.2),
              0 0 0 rgba(255, 255, 255, 0.2),
              inset .3rem .3rem .3rem rgba(0, 0, 0, 0.2),
              inset -.3rem -.3rem .3rem rgba(255, 255, 255, 0.2);
}

.iconButtonIcon {
  margin: 0;
  padding: 0.5rem;
}

.correct {
  background-color: #13cf2f;
}

.misplaced {
  background-color: orange;
}

.wrong {
  background-color: grey;
}